body {
  padding:2% 2% 0 2% ;
  margin: 0;
  background: #03032b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Quicksand";

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.slider-container {
  position: relative;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 8px;
  border-radius: 10px;
  background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
  transition: width 0.5s ease-in-out;
}

.sidebar {
  background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
}

/* Define the hover state with updated border gradient */
/* .custom-border:hover {
  border-radius: 20px;
  border-image: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%) 1;
  box-shadow: 0 5px 1rem 0.5px rgba(31, 162, 255, 0.5);
  transition: all 0.5s ease;
  border-radius: 12px;
} */

.custom-border:hover {
  background: linear-gradient(#1e1e25, #04043a) padding-box,
    linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB) border-box;
  border-radius: 12px;
  box-shadow: 0 5px 1rem 0.5px rgba(31, 162, 255, 0.5);
  transition: all 0.5s ease;
  border: 2px solid transparent;
}

.custom-bg {
  /* background:linear-gradient(135.34deg, #bbbcc4 50.61%, rgba(255, 255, 255, 0) 50.29%); */
}



/* Custom Button */
.glitch,
.glitch::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.glitch::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'GLITCH';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.glitch:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.glitch:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.glitch:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}